body{
    background-color:bisque;
}
div a{
    color:blac;
    padding: 7px;
    display: block;
    text-decoration: none;
}
div h1{
    color: orange;
}
a:hover{
    background-color: orange;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}
#le{
    width: 10%;
    height: 100%;
    float: left;
}
#re{
    margin-left: 10%; 
    height: 100px;
    margin-right: 15%;
    color:black;
}
i{
    color:black;
}